$blue_13: #25445b;
$blue_12: #1f307a;
$blue_11: #1f41d6;
$blue_10: #1256ca;
$blue_9: #546bd4;
$blue_8: #6195ed;
$blue_7: #549fd4;
$blue_6: #a0b5da;
$blue_5: #b4e1ef;
$blue_4: #7f94b8;
$blue_3: #74c6e2;
$blue_2: #cbebf6;
$blue_1: #b6d9f2;
$blue_0: #a5c7ff;
